

.googlegroup-summary {
	width: 100%;
	height: 100%;
}




.googlegroup-summary-col1 {
	width: 64px;
}

.googlegroup-summary-row1 {
	height: 16px;
}

.googlegroup-summary-row2 {
	height: 100%;
}

.swaplocal-sumblock {
	border-spacing: 10px;
}

.swaplocal-sumblock-col {
	width: 50%;
	border: solid 1px #CCCCCC;
	background: #F6F6F6;
}

.swaplocal-sumblock-col1 {

}
.swaplocal-sumblock-col-last {

}